language: rust

branches:
  only:
  - master

rust:
  - stable
  - beta
  - nightly

os:
  - linux
  - windows
  - osx

matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true

before_script:
  - rustup component add rustfmt
  - rustup component add clippy
  - cargo install --force cargo-audit

script:
  - cargo build --verbose --all
  - cargo build --verbose --examples
  - cargo test --verbose --all
  - cargo audit
  - cargo clippy --all-targets --all-features -- -D warnings
  - cargo fmt --all -- --check

cache: cargo
